{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </div>
        {{- with .Params.tags }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
      <span>-------------------------------------------------------------------------------------------------------------------------</span>
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
      <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      
      <span id="busuanzi_container_site_pv">--本站总访问量<span id="busuanzi_value_site_pv"></span>次 &</span>
      <span id="busuanzi_container_site_uv">本站总访客数<span id="busuanzi_value_site_uv"></span>人 &</span>
      <span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次--</span>
      <script src="https://utteranc.es/client.js"
        repo="safe049/safe049.github.io"
        issue-term="pathname"
        label="Utterances"
        theme="github-dark"
        crossorigin="anonymous"
        async>
      </script>
      
      
    </div>
  </article>
{{ end }}
